## Lending Club Credit Risk Modeling
- In this project, I will build three **machine learning** models to predict the three components of expected loss in the context of **credit risk modeling** at the **Lending Club** (a peer-to-peer credit company): Probability of Default (PD), Exposure at Default (EAD) and Loss Given Default (LGD). The expected loss will be the product of these elements: **Expected Loss (EL) = PD * EAD * LGD.** The PD Model will be used to stablish a credit policy, deciding wheter to grant a loan or not for new applicants (application model) based on their credit scores. The EAD and LGD Models will be used along with the PD Model to estimate the Expected Loss (EL) from each loan in order to assess the capital the institution needs to hold to protect itself against defaults.
- The PD modelling encompasses a binary classification problem with target being 1 in case of non-default and 0 in case of default. A Logistic Regression model will be built. 
- The LGD and EAD modelling encompasses a beta regression problem, that is, a regression task in which the dependent variable is beta distributed.
- The **solution pipeline** is based on the **crisp-dm** framework:
    1. Business understanding.
    2. Data understanding.
    3. Data preparation.
    4. Modelling.
    5. Validation.
    6. Deployment.
- Below, I will introduce **information** about the **company**, the **business problem**, the **project objectives and benefits**, and some important **concepts** to have in mind, given that I am dealing with a credit risk problem.

## Lending Club
- **What is the Lending Club?:**
    - LendingClub is a **peer-to-peer lending platform** that facilitates the borrowing and lending of money directly between individuals, without the need for traditional financial institutions such as banks. The platform operates as an online marketplace, connecting borrowers seeking personal loans with investors willing to fund those loans.

## Business Problem: Managing Default Risks and Optimizing Returns
- **What is the business problem?:**
    - LendingClub faces a significant business challenge related to **managing default risks effectively** while **optimizing returns** for its investors. The platform facilitates peer-to-peer lending, connecting borrowers with investors, and relies on **accurate risk assessments to maintain a sustainable and profitable lending ecosystem.** Thus, the CEO wants us to provide insights about which factors are associated with credit risk in Lending Club's operations, and to construct models capable of predicting the probability of default for new applicants and possible losses on its loans in order to establish a credit policy, deciding when to grant a loan or not for an applicant.
- **Which are the project objectives and benefits?**
    1. Identify the factors associated with credit risk in the form of business insights.
    2. Develop an accurate Probability of Default (PD) Model, constructing a scorecard. This will allow Lending Club to decide wheter to grant a loan or not to a new applicant (application model), based on credit scores.
    3. Develop Exposure at Default (EAD) and Loss Given Default (LGD) Models, to estimate the Expected Loss in loans. This will allow Lending Club to hold sufficient capital to protect itself against default in each loan.
    4. Improve risk management and optimize returns by selecting a cut-off point or creating risk categories to approve loans based on our models' results. With this, we intend to establish a credit policy, trying to balance risk and ROI of Lending Club's assets.
    5. Apply model monitoring and maintenance techniques to safeguard our results from population instability, characterized by significant changes in loan applicants' characteristics. This will allow us to understand whether the built model is still useful in the future or whether the loan applicants characteristics changed significantly, such that we will need to redevelop it.

## Credit Risk Modeling Concepts: The Context of the Problem
- **Financial institutions**, like LendingClub and online lending platforms, **make money by lending to people and businesses.** When they lend money, they **charge interest**, which is a significant source of their **profits**. **Managing credit risk well is crucial** for these institutions. This means ensuring that borrowers pay back their loans on time to avoid losses.
- **Credit risk** is the possibility that a borrower might not fulfill their financial obligations, leading to a loss for the lender. If a borrower fails to meet the agreed-upon terms, it's called a "default," and it can result in financial losses for the lender. The **default** definition is associated with a time horizon. For example, if a borrower hasn't paid their debt within 90 days of the due date, they are considered in default.
- In the credit market, important **rules** help keep things honest and clear. **Basel III** is one such set of rules, making sure banks have **enough money (capital requirements)** and follow **guidelines for assessing loan risks**. The **Internal Rating-Based Approach (IRB-A)** lets banks figure out credit risks using concepts like Probability of Default (PD), Exposure at Default (EAD), and Loss Given Default (LGD). Another rule, **International Financial Reporting Standard 9 (IFRS 9)**, gives standards for measuring financial assets. It's special because it looks at the chance of a loan not being paid back over its entire life, unlike Basel, which checks it for one year. These rules help banks have enough money, handle risks well, and keep the credit market steady and trustworthy.
- The **"expected loss (EL)"** is the average estimated loss that a lender can expect from loans that default. It involves three factors: the **probability of default (likelihood of a borrower defaulting)**, **loss given default (portion of the amount the bank is exposed to that can't be recovered in case of default)**, and **exposure at default (potential loss at the time of default, considering the outstanding loan amount and other factors)**.
- **LendingClub**, operating as a peer-to-peer lending platform, uses a **"PD Model/Credit Scoring Model" to assess borrowers' creditworthiness using credit scores** from a scorecard. This helps determine the **likelihood of loan repayment**, guiding the decision to **approve or deny the loan.** The **required capital to guard against default** for each loan is calculated using **EAD and LGD Models** to estimate the **Expected Loss (EL)**, contributing to minimizing risk in credit operations.
- When creating a Credit Scoring Model, which assesses creditworthiness for loan approval, using data available at the time of the application is considered an **"application model."** It is distinct from a "behavior model." This is the model I will build here.
- A **"credit policy"** is a set of guidelines that financial institutions follow to evaluate and manage lending risk. It involves setting a cut-off point, a threshold based on credit scores, or risk categories, to decide whether to approve or reject loan applications. Another factors such as the expected ROI for each loan application are included.
- **"Return on Investment (ROI)"** is a key measure of loan profitability. Balancing ROI with risk is vital for effective credit policy management. While higher-risk loans may offer more significant potential returns, they also come with a higher chance of default.

### 0. Importing the libraries

In [1]:
# Data manipulation and visualization.
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns

# Display options.
pd.set_option('display.max_rows', None)
pd.set_option('display.max_info_rows', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

### 1. Data Understanding
- The data was collected from kaggle and contain complete loan data for all loans issued through the 2007-2015, including the current loan status (Current, Late, Fully Paid, etc.) and the latest payment information.
- This include consumer loans, as explained above in Lending Club's services, and encompasses data available at the moment of the application. Thus, it will be used to build an application model.
- In this step, I intend to perform some initial data understanding, like assessing the dimensions of the dataset, features data types, missing and duplicated values, categorical and numerical variables and so on.

In [2]:
path = '/Users/pedrohenriquealmeidaoliveira/Documents/data_science/large_files/loan_data_2007_2014.csv'
df = pd.read_csv(path)

/var/folders/7m/gml801pj3c12rljtszckgvr00000gn/T/ipykernel_8227/3754117770.py:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

In [3]:
df.head()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.00,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.00,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.97,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.00,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,Unnamed: 0,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
466280,466280,8598660,1440975,18400,18400,18400.0,60 months,14.47,432.64,C,C2,Financial Advisor,4 years,MORTGAGE,110000.0,Source Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,773xx,TX,19.85,0.0,Apr-03,2.0,NaN,NaN,18.0,0.0,23208,77.6,36.0,w,12574.00,12574.00,10383.360000,10383.36,5826.00,4557.36,0.0,0.0,0.0,Jan-16,432.64,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,294998.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29900.0,NaN,NaN,NaN
466281,466281,9684700,11536848,22000,22000,22000.0,60 months,19.97,582.50,D,D5,Chief of Interpretation (Park Ranger),10+ years,MORTGAGE,78000.0,Verified,Jan-14,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,NaN,debt_consolidation,Debt consolidation,377xx,TN,18.45,0.0,Jun-97,5.0,NaN,116.0,18.0,1.0,18238,46.3,30.0,f,0.00,0.00,4677.920000,4677.92,1837.04,2840.88,0.0,0.0,0.0,Dec-14,17.50,NaN,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,221830.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39400.0,NaN,NaN,NaN
466282,466282,9584776,11436914,20700,20700,20700.0,60 months,16.99,514.34,D,D1,patrol,7 years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/06/13 > I am going to c...,debt_consolidation,Debt consolidation,458xx,OH,25.65,0.0,Dec-01,2.0,65.0,NaN,18.0,0.0,6688,51.1,43.0,f,14428.31,14428.31,12343.980000,12343.98,6271.69,6072.29,0.0,0.0,0.0,Jan-16,514.34,Feb-16,Dec-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,73598.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13100.0,NaN,NaN,NaN
466283,466283,9604874,11457002,2000,2000,2000.0,36 months,7.90,62.59,A,A4,Server Engineer Lead,3 years,OWN,83000.0,Verified,Jan-14,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,credit_card,Credit card refinancing,913xx,CA,5.39,3.0,Feb-03,1.0,13.0,NaN,21.0,0.0,11404,21.5,27.0,w,0.00,0.00,2126.579838,2126.58,2000.00,126.58,0.0,0.0,0.0,Dec-14,1500.68,NaN,Apr-15,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,591610.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,53100.0,NaN,NaN,NaN
466284,466284,9199665,11061576,10000,10000,9975.0,36 months,19.20,367.58,D,D3,NaN,10+ years,MORTGAGE,46000.0,Verified,Jan-14,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/13 > I will like a l...,other,Other,950xx,CA,22.78,1.0,Feb-00,0.0,9.0,NaN,6.0,0.0,11325,70.8,22.0,f,3984.38,3974.41,8821.620000,8799.57,6015.62,2806.00,0.0,0.0,0.0,Jan-16,367.58,Feb-16,Jan-16,0.0,NaN,1,INDIVIDUAL,NaN,NaN,NaN,0.0,0.0,57477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16000.0,NaN,NaN,NaN

#### 1.1 Data dictionary
- Below we have the information about what each feature of the dataset means.

**addr_state**: The state provided by the borrower in the loan application

**annual_inc**: The self-reported annual income provided by the borrower during registration.

**annual_inc_joint**: The combined self-reported annual income provided by the co-borrowers during registration.

**application_type**: Indicates whether the loan is an individual application or a joint application with two co-borrowers

**collection_recovery_fee**: Post charge-off collection fee

**collections_12_mths_ex_med**: Number of collections in 12 months excluding medical collections

**delinq_2yrs**: The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years

**desc**: Loan description provided by the borrower

**dti**: A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.

**dti_joint**: A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income

**earliest_cr_line**: The month the borrower's earliest reported credit line was opened

**emp_length**: Employment length in years. Possible values are between 0 and 10 where 0 means less than one year and 10 means ten or more years.

**emp_title**: The job title supplied by the Borrower when applying for the loan.

**fico_range_high**: The upper boundary range the borrower’s FICO at loan origination belongs to.

**fico_range_low**: The lower boundary range the borrower’s FICO at loan origination belongs to.

**funded_amnt**: The total amount committed to that loan at that point in time.

**funded_amnt_inv**: The total amount committed by investors for that loan at that point in time.

**grade**: LC assigned loan grade

**home_ownership**: The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.

**id**: A unique LC assigned ID for the loan listing.

**initial_list_status**: The initial listing status of the loan. Possible values are – W, F

**inq_last_6mths**: The number of inquiries in the past 6 months (excluding auto and mortgage inquiries)

**installment**: The monthly payment owed by the borrower if the loan originates.

**int_rate**: Interest Rate on the loan

**is_inc_v**: Indicates if income was verified by LC, not verified, or if the income source was verified

**issue_d**: The month which the loan was funded

**last_credit_pull_d**: The most recent month LC pulled credit for this loan

**last_fico_range_high**: The upper boundary range the borrower’s last FICO pulled belongs to.

**last_fico_range_low**: The lower boundary range the borrower’s last FICO pulled belongs to.

**last_pymnt_amnt**: Last total payment amount received

**last_pymnt_d**: Last month payment was received

**loan_amnt**: The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.

**loan_status**: Current status of the loan

**member_id**: A unique LC assigned Id for the borrower member.

**mths_since_last_delinq**: The number of months since the borrower's last delinquency.

**mths_since_last_major_derog**: Months since the most recent 90-day or worse rating

**mths_since_last_record**: The number of months since the last public record.

**next_pymnt_d**: Next scheduled payment date

**open_acc**: The number of open credit lines in the borrower's credit file.

**out_prncp**: Remaining outstanding principal for the total amount funded

**out_prncp_inv**: Remaining outstanding principal for the portion of total amount funded by investors

**policy_code**: Publicly available policy_code=1; new products not publicly available policy_code=2

**pub_rec**: Number of derogatory public records

**purpose**: A category provided by the borrower for the loan request.

**pymnt_plan**: Indicates if a payment plan has been put in place for the loan

**recoveries**: Post charge-off gross recovery

**revol_bal**: Total credit revolving balance

**revol_util**: Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.

**sub_grade**: LC assigned loan subgrade

**term**: The number of payments on the loan. Values are in months and can be either 36 or 60.

**title**: The loan title provided by the borrower

**total_acc**: The total number of credit lines currently in the borrower's credit file

**total_pymnt**: Payments received to date for the total amount funded

**total_pymnt_inv**: Payments received to date for the portion of the total amount funded by investors

**total_rec_int**: Interest received to date

**total_rec_late_fee**: Late fees received to date

**total_rec_prncp**: Principal received to date

**url**: URL for the LC page with listing data

**verified_status_joint**: Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified

**zip_code**: The first 3 numbers of the zip code provided by the borrower in the loan application.

**open_acc_6m**: Number of open trades in the last 6 months

**open_il_6m**: Number of currently active installment trades

**open_il_12m**: Number of installment accounts opened in the past 12 months

**open_il_24m**: Number of installment accounts opened in the past 24 months

**mths_since_rcnt_il**: Months since most recent installment accounts opened

**total_bal_il**: Total current balance of all installment accounts

**il_util**: Ratio of total current balance to high credit/credit limit on all installment accounts

**open_rv_12m**: Number of revolving trades opened in the past 12 months

**open_rv_24m**: Number of revolving trades opened in the past 24 months

**max_bal_bc**: Maximum current balance owed on all revolving accounts

**all_util**: Balance to credit limit on all trades

**total_rev_hi_lim**: Total revolving high credit/credit limit

**inq_fi**: Number of personal finance inquiries

**total_cu_tl**: Number of finance trades

**inq_last_12m**: Number of credit inquiries in the past 12 months

**acc_now_delinq**: The number of accounts on which the borrower is now delinquent.

**tot_coll_amt**: Total collection amounts ever owed

**tot_cur_bal**: Total current balance of all accounts

*Employer Title replaces Employer Name for all loans listed after 9/23/2013*

- From the data dictionary above, we can see that our **dependent variable for the PD model**, a flag indicating 1 in case of non-default and 0 in case of default will be obtained from the **loan_status** variable.
- At a glance, we can divide our variables into similar **context/information groups:**
    - **Demographical Variables:** addr_state, annual_inc, application_type, emp_length, emp_title, home_ownership, title, zip_code
    - **Financial Variables:** annual_inc_joint, collection_recovery_fee, dti, dti_joint, funded_amnt, funded_amnt_inv, installment, int_rate, loan_amnt, revol_bal, revol_util, total_acc
    - **Credit and Risk Variables:** delinq_2yrs, fico_range_high, fico_range_low, grade, initial_list_status, inq_last_6mths, inq_last_12m, last_fico_range_high, last_fico_range_low, loan_status, pub_rec, sub_grade, term
    - **Time-Related and Other Variables:** desc, issue_d, earliest_cr_line, id, last_credit_pull_d, last_pymnt_amnt, last_pymnt_d, mths_since_last_delinq, mths_since_last_major_derog, mths_since_last_record, next_pymnt_d, policy_code, purpose, pymnt_plan, recoveries, total_pymnt, total_pymnt_inv, total_rec_int, total_rec_late_fee, total_rec_prncp, url, verified_status_joint, open_acc_6m, open_il_6m, open_il_12m, open_il_24m, mths_since_rcnt_il, total_bal_il, il_util, open_rv_12m, open_rv_24m, max_bal_bc, all_util, total_rev_hi_lim, inq_fi, total_cu_tl, acc_now_delinq, tot_coll_amt, tot_cur_bal 
- At a glance, there are some **variables** that can drive **valuable insights** about **credit risk** in Lending Club's operations:
    - Most of the demographical variables: addr_state, annual_inc, emp_length, home_ownership.
    - From the financial variables: dti, funded_amnt, installment, int_rate, loan_amnt, revol_bal, total_acc.
    - From the credit and risk variables: delinq_2yrs, fico scores variables, inq_last_6_months and 12m, and term.
    - From time-related and other variables: issue_d, purpose, tot_cur_bal, total_rev_hi_lim.
- At a glance, some variables just may not be useful and can be removed. It is the case for url, for example, but I will analyze this further in the notebook. Moreover, some variables like loan_amnt will not be available at the moment of prediction (in the production environment) and thus will be also dropped in order to prevent data leakage. Considering these features can provide valuable insights about credit risk in Lending Club's operations, they will be removed just in the data preprocessing step, once we have already explored them.

#### 1.2 General information
- I will assess general information about the data, such as dimensions, features data types, null and duplicated values, and so on in order to initially see some possible problems that will require data cleaning and gather more information about the data I am dealing with.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 466285 entries, 0 to 466284
Data columns (total 75 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Unnamed: 0                   int64
 1   id                           int64
 2   member_id                    int64
 3   loan_amnt                    int64
 4   funded_amnt                  int64
 5   funded_amnt_inv              float64
 6   term                         object
 7   int_rate                     float64
 8   installment                  float64
 9   grade                        object
 10  sub_grade                    object
 11  emp_title                    object
 12  emp_length                   object
 13  home_ownership               object
 14  annual_inc                   float64
 15  verification_status          object
 16  issue_d                      object
 17  loan_status                  object
 18  pymnt_plan                   object
 19  url                          object
 20  desc                         object
 21  purpose                      object
 22  title                        object
 23  zip_code                     object
 24  addr_state                   object
 25  dti                          float64
 26  delinq_2yrs                  float64
 27  earliest_cr_line             object
 28  inq_last_6mths               float64
 29  mths_since_last_delinq       float64
 30  mths_since_last_record       float64
 31  open_acc                     float64
 32  pub_rec                      float64
 33  revol_bal                    int64
 34  revol_util                   float64
 35  total_acc                    float64
 36  initial_list_status          object
 37  out_prncp                    float64
 38  out_prncp_inv                float64
 39  total_pymnt                  float64
 40  total_pymnt_inv              float64
 41  total_rec_prncp              float64
 42  total_rec_int                float64
 43  total_rec_late_fee           float64
 44  recoveries                   float64
 45  collection_recovery_fee      float64
 46  last_pymnt_d                 object
 47  last_pymnt_amnt              float64
 48  next_pymnt_d                 object
 49  last_credit_pull_d           object
 50  collections_12_mths_ex_med   float64
 51  mths_since_last_major_derog  float64
 52  policy_code                  int64
 53  application_type             object
 54  annual_inc_joint             float64
 55  dti_joint                    float64
 56  verification_status_joint    float64
 57  acc_now_delinq               float64
 58  tot_coll_amt                 float64
 59  tot_cur_bal                  float64
 60  open_acc_6m                  float64
 61  open_il_6m                   float64
 62  open_il_12m                  float64
 63  open_il_24m                  float64
 64  mths_since_rcnt_il           float64
 65  total_bal_il                 float64
 66  il_util                      float64
 67  open_rv_12m                  float64
 68  open_rv_24m                  float64
 69  max_bal_bc                   float64
 70  all_util                     float64
 71  total_rev_hi_lim             float64
 72  inq_fi                       float64
 73  total_cu_tl                  float64
 74  inq_last_12m                 float64
dtypes: float64(46), int64(7), object(22)
memory usage: 266.8+ MB

In [6]:
print(f'The dataset has {df.shape[0]} rows and {df.shape[1]} columns.')

The dataset has 466285 rows and 75 columns.

- We have 46 float variables, 7 int variables and 22 object variables, totalizing 53 numerical features and 22 categorical features.
- At a glance, **some variables can be removed.** This include id variables (because they have one unique value per observation), url and desc (because they aren't useful). 
- **Some variables are in the incorrect data type** and must be converted to the correct one. It is the case of term and emp_length, which must be converted from object to int. Moreover, issue_d, earliest_cr_line, last_pymnt_d, next_pymnt_d and last_credit_pull_d must be converted from object to datetime format, because they are date-related features.

#### 1.3 Missing and Duplicate values
- I will assess the missing values distributions across the variables in order to investigate their motivation and treat them further. The same for duplicate values.

In [3]:
missing_df = df.isna().sum().to_frame().rename(columns={0: 'count'}).sort_values(by=['count'], ascending=False)
missing_df['pct'] = round(missing_df['count'] / df.shape[0] * 100, 3)
missing_df

                              count      pct
inq_last_12m                 466285  100.000
total_bal_il                 466285  100.000
dti_joint                    466285  100.000
verification_status_joint    466285  100.000
annual_inc_joint             466285  100.000
open_acc_6m                  466285  100.000
open_il_6m                   466285  100.000
open_il_12m                  466285  100.000
open_il_24m                  466285  100.000
mths_since_rcnt_il           466285  100.000
il_util                      466285  100.000
open_rv_24m                  466285  100.000
total_cu_tl                  466285  100.000
inq_fi                       466285  100.000
max_bal_bc                   466285  100.000
all_util                     466285  100.000
open_rv_12m                  466285  100.000
mths_since_last_record       403647   86.567
mths_since_last_major_derog  367311   78.774
desc                         340304   72.982
mths_since_last_delinq       250351   53.691
next_pymnt_d                 227214   48.729
tot_cur_bal                   70276   15.071
tot_coll_amt                  70276   15.071
total_rev_hi_lim              70276   15.071
emp_title                     27588    5.917
emp_length                    21008    4.505
last_pymnt_d                    376    0.081
revol_util                      340    0.073
collections_12_mths_ex_med      145    0.031
last_credit_pull_d               42    0.009
inq_last_6mths                   29    0.006
earliest_cr_line                 29    0.006
delinq_2yrs                      29    0.006
open_acc                         29    0.006
pub_rec                          29    0.006
acc_now_delinq                   29    0.006
total_acc                        29    0.006
title                            21    0.005
annual_inc                        4    0.001
application_type                  0    0.000
policy_code                       0    0.000
collection_recovery_fee           0    0.000
last_pymnt_amnt                   0    0.000
Unnamed: 0                        0    0.000
recoveries                        0    0.000
total_rec_late_fee                0    0.000
member_id                         0    0.000
loan_amnt                         0    0.000
funded_amnt                       0    0.000
funded_amnt_inv                   0    0.000
term                              0    0.000
int_rate                          0    0.000
installment                       0    0.000
grade                             0    0.000
sub_grade                         0    0.000
home_ownership                    0    0.000
verification_status               0    0.000
issue_d                           0    0.000
loan_status                       0    0.000
pymnt_plan                        0    0.000
url                               0    0.000
purpose                           0    0.000
zip_code                          0    0.000
addr_state                        0    0.000
dti                               0    0.000
revol_bal                         0    0.000
initial_list_status               0    0.000
id                                0    0.000
out_prncp_inv                     0    0.000
total_pymnt                       0    0.000
total_pymnt_inv                   0    0.000
total_rec_prncp                   0    0.000
total_rec_int                     0    0.000
out_prncp                         0    0.000

In [8]:
df.duplicated().sum()

0

- There are not duplicated values in the data.
- It is possible to see that there are a lot of variables with a 100% of missings. These are not useful for anything and will be removed.
- I will stablish a 70% cut-off to remove variables with missing values. That is, if the variable has 70% or more missing rate, it will be removed.
- For the other features, I will investigate the missing values occurrence and decide whether to keep them or not. Some considerations:
    - If the **pattern of missing values is not random**, meaning that the occurrence of missing values varies between good and bad loans, for example, if there are proportionally more missing values in bad loans, it is advisable to treat it as a category within the feature. The absence of information from the applicant could be related to their intention to repay or not repay their debt.
    - In case the **pattern of missing values is random, we can:**
        - Remove these observations, in case we have a big sample of applicant data (and we have!) and their frequency is really low.
        - Exclude variables with an excessive number of missing values (which we already considered doing).
        - Keep the missing as one of the categories of the variable, like "unknown". It will have a weight in the final scoring formula.
        - Impute values. Utilizing mean, median, mode or even inferring it from another variable highly linearly correlated with the variable with missings are possible alternatives.
- The occurrence of **missing values** might be due to different **reasons**, like:
    - The applicant didn't gave this information.
    - The given information was not registered.
    - The given information does not match with any of the expected codes or values for that variable, then, it was registered as a missing. This is pretty common in occupation, where some abbreviations come.
    - The missing is, in reality, zero.
- All the referred treatments and investigations will be performed in the data preprocessing step.

#### 1.4 Numerical and Categorical features
- I'll check which numerical and categorical variables are in the data. This helps me separate them and check how many different categories there are in the categorical features. The number of categories is important because it affects how we encode the data. If there are too many categories, using one-hot encoding can make the data dimensionality too big. This can be a problem. Also, I'll see if a variable is helpful or not. Sometimes, variables have too many categories and don't really help the model. In that case, we might need to remove them from the analysis.

In [4]:
# Assessing which are the numerical and categorical features.
numerical_features = df.select_dtypes('number').columns.tolist()
categorical_features = df.select_dtypes('object').columns.tolist()
print(f'There are {len(numerical_features)} in the data. They are: {numerical_features}.')
print(f'There are {len(categorical_features)} in the data. They are: {categorical_features}.')

There are 53 in the data. They are: ['Unnamed: 0', 'id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'int_rate', 'installment', 'annual_inc', 'dti', 'delinq_2yrs', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'].
There are 22 in the data. They are: ['term', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'initial_list_status', 'last_pymnt_d', 'next_pymnt_d', 'last_credit_pull_d', 'application_type'].

In [13]:
# Assessing categorical features cardinality.
for feature in categorical_features:
    print(f'{feature} - cardinality = {df[feature].nunique()}')
    print()
    print(df[feature].unique())
    print('-' * 100)

term - cardinality = 2

[' 36 months' ' 60 months']
----------------------------------------------------------------------------------------------------
grade - cardinality = 7

['B' 'C' 'A' 'E' 'F' 'D' 'G']
----------------------------------------------------------------------------------------------------
sub_grade - cardinality = 35

['B2' 'C4' 'C5' 'C1' 'B5' 'A4' 'E1' 'F2' 'C3' 'B1' 'D1' 'A1' 'B3' 'B4'
 'C2' 'D2' 'A3' 'A5' 'D5' 'A2' 'E4' 'D3' 'D4' 'F3' 'E3' 'F4' 'F1' 'E5'
 'G4' 'E2' 'G3' 'G2' 'G1' 'F5' 'G5']
----------------------------------------------------------------------------------------------------
emp_title - cardinality = 205475

[nan 'Ryder' 'AIR RESOURCES BOARD' ... 'MecÃ¡nica'
 'Chief of Interpretation (Park Ranger)' 'Server Engineer Lead']
----------------------------------------------------------------------------------------------------
emp_length - cardinality = 11

['10+ years' '< 1 year' '1 year' '3 years' '8 years' '9 years' '4 years'
 '5 years' '6 years' '2 years' '7 years' nan]
----------------------------------------------------------------------------------------------------
home_ownership - cardinality = 6

['RENT' 'OWN' 'MORTGAGE' 'OTHER' 'NONE' 'ANY']
----------------------------------------------------------------------------------------------------
verification_status - cardinality = 3

['Verified' 'Source Verified' 'Not Verified']
----------------------------------------------------------------------------------------------------
issue_d - cardinality = 91

['Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11' 'Jun-11' 'May-11'
 'Apr-11' 'Mar-11' 'Feb-11' 'Jan-11' 'Dec-10' 'Nov-10' 'Oct-10' 'Sep-10'
 'Aug-10' 'Jul-10' 'Jun-10' 'May-10' 'Apr-10' 'Mar-10' 'Feb-10' 'Jan-10'
 'Dec-09' 'Nov-09' 'Oct-09' 'Sep-09' 'Aug-09' 'Jul-09' 'Jun-09' 'May-09'
 'Apr-09' 'Mar-09' 'Feb-09' 'Jan-09' 'Dec-08' 'Nov-08' 'Oct-08' 'Sep-08'
 'Aug-08' 'Jul-08' 'Jun-08' 'May-08' 'Apr-08' 'Mar-08' 'Feb-08' 'Jan-08'
 'Dec-07' 'Nov-07' 'Oct-07' 'Sep-07' 'Aug-07' 'Jul-07' 'Jun-07' 'Dec-13'
 'Nov-13' 'Oct-13' 'Sep-13' 'Aug-13' 'Jul-13' 'Jun-13' 'May-13' 'Apr-13'
 'Mar-13' 'Feb-13' 'Jan-13' 'Dec-12' 'Nov-12' 'Oct-12' 'Sep-12' 'Aug-12'
 'Jul-12' 'Jun-12' 'May-12' 'Apr-12' 'Mar-12' 'Feb-12' 'Jan-12' 'Dec-14'
 'Nov-14' 'Oct-14' 'Sep-14' 'Aug-14' 'Jul-14' 'Jun-14' 'May-14' 'Apr-14'
 'Mar-14' 'Feb-14' 'Jan-14']
----------------------------------------------------------------------------------------------------
loan_status - cardinality = 9

['Fully Paid' 'Charged Off' 'Current' 'Default' 'Late (31-120 days)'
 'In Grace Period' 'Late (16-30 days)'
 'Does not meet the credit policy. Status:Fully Paid'
 'Does not meet the credit policy. Status:Charged Off']
----------------------------------------------------------------------------------------------------
pymnt_plan - cardinality = 2

['n' 'y']
----------------------------------------------------------------------------------------------------
url - cardinality = 466285

['https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077501'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077430'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=1077175'
 ...
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=9584776'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=9604874'
 'https://www.lendingclub.com/browse/loanDetail.action?loan_id=9199665']
----------------------------------------------------------------------------------------------------
desc - cardinality = 124435

['  Borrower added on 12/22/11 > I need to upgrade my business technologies.<br>'
 '  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike. I only need this money because the deal im looking at is to good to pass up.<br><br>  Borrower added on 12/22/11 > I plan to use this money to finance the motorcycle i am looking at. I plan to have it paid off as soon as possible/when i sell my old bike.I only need this money because the deal im looking at is to good to pass up. I have finished college with an associates degree in business and its takingmeplaces<br>'
 nan ...
 '  Borrower added on 12/09/13 > consolidate all credit accounts<br>'
 '  Borrower added on 12/06/13 > I am going to consolidate a credit card debt from medical and moving expenses with a loan I already have. I have paid everything on time for years, I just need to eliminate this high interest credit card.<br>'
 '  Borrower added on 12/04/13 > I will like a loan to fix  our cars and paid our house property tax<br>']
----------------------------------------------------------------------------------------------------
purpose - cardinality = 14

['credit_card' 'car' 'small_business' 'other' 'wedding'
 'debt_consolidation' 'home_improvement' 'major_purchase' 'medical'
 'moving' 'vacation' 'house' 'renewable_energy' 'educational']
----------------------------------------------------------------------------------------------------
title - cardinality = 63098

['Computer' 'bike' 'real estate business' ... 'LoanGetter'
 'Consolidation 01' 'Paying off the car and some bills']
----------------------------------------------------------------------------------------------------
zip_code - cardinality = 888

['860xx' '309xx' '606xx' '917xx' '972xx' '852xx' '280xx' '900xx' '958xx'
 '774xx' '853xx' '913xx' '245xx' '951xx' '641xx' '921xx' '067xx' '890xx'
 '770xx' '335xx' '799xx' '605xx' '103xx' '150xx' '326xx' '564xx' '141xx'
 '080xx' '330xx' '974xx' '934xx' '405xx' '946xx' '445xx' '850xx' '604xx'
 '292xx' '088xx' '180xx' '029xx' '700xx' '010xx' '441xx' '104xx' '061xx'
 '616xx' '947xx' '914xx' '765xx' '980xx' '017xx' '752xx' '787xx' '077xx'
 '540xx' '225xx' '440xx' '437xx' '559xx' '912xx' '325xx' '300xx' '923xx'
 '352xx' '013xx' '146xx' '074xx' '786xx' '937xx' '331xx' '115xx' '191xx'
 '114xx' '908xx' '902xx' '992xx' '750xx' '950xx' '329xx' '226xx' '614xx'
 '802xx' '672xx' '083xx' '100xx' '926xx' '931xx' '712xx' '060xx' '707xx'
 '342xx' '895xx' '430xx' '919xx' '996xx' '891xx' '935xx' '801xx' '928xx'
 '233xx' '927xx' '970xx' '211xx' '303xx' '070xx' '194xx' '263xx' '403xx'
 '301xx' '553xx' '993xx' '312xx' '432xx' '602xx' '216xx' '151xx' '971xx'
 '305xx' '334xx' '050xx' '129xx' '925xx' '483xx' '760xx' '961xx' '200xx'
 '085xx' '981xx' '601xx' '117xx' '063xx' '920xx' '543xx' '775xx' '570xx'
 '038xx' '221xx' '985xx' '113xx' '275xx' '236xx' '148xx' '028xx' '450xx'
 '532xx' '729xx' '321xx' '959xx' '941xx' '955xx' '217xx' '880xx' '660xx'
 '062xx' '193xx' '761xx' '857xx' '306xx' '271xx' '142xx' '956xx' '983xx'
 '945xx' '109xx' '112xx' '187xx' '630xx' '435xx' '488xx' '287xx' '705xx'
 '592xx' '318xx' '549xx' '212xx' '347xx' '274xx' '265xx' '785xx' '027xx'
 '089xx' '813xx' '069xx' '260xx' '201xx' '349xx' '322xx' '075xx' '124xx'
 '940xx' '967xx' '111xx' '773xx' '997xx' '076xx' '538xx' '021xx' '304xx'
 '234xx' '308xx' '809xx' '071xx' '363xx' '296xx' '240xx' '830xx' '011xx'
 '622xx' '207xx' '140xx' '336xx' '619xx' '208xx' '618xx' '014xx' '644xx'
 '283xx' '276xx' '631xx' '243xx' '960xx' '181xx' '922xx' '224xx' '975xx'
 '105xx' '986xx' '218xx' '652xx' '782xx' '410xx' '480xx' '328xx' '719xx'
 '982xx' '065xx' '081xx' '954xx' '346xx' '442xx' '025xx' '122xx' '173xx'
 '282xx' '120xx' '082xx' '766xx' '229xx' '840xx' '744xx' '933xx' '451xx'
 '907xx' '728xx' '159xx' '333xx' '293xx' '701xx' '984xx' '811xx' '597xx'
 '957xx' '165xx' '720xx' '119xx' '359xx' '195xx' '084xx' '969xx' '924xx'
 '531xx' '716xx' '337xx' '841xx' '323xx' '740xx' '179xx' '805xx' '285xx'
 '551xx' '658xx' '944xx' '232xx' '905xx' '600xx' '327xx' '711xx' '906xx'
 '444xx' '856xx' '064xx' '777xx' '072xx' '554xx' '145xx' '537xx' '152xx'
 '847xx' '295xx' '829xx' '320xx' '131xx' '939xx' '572xx' '281xx' '550xx'
 '078xx' '452xx' '778xx' '313xx' '851xx' '784xx' '804xx' '571xx' '210xx'
 '988xx' '400xx' '995xx' '023xx' '158xx' '657xx' '016xx' '019xx' '290xx'
 '190xx' '366xx' '066xx' '991xx' '968xx' '721xx' '439xx' '640xx' '546xx'
 '024xx' '751xx' '431xx' '741xx' '904xx' '156xx' '316xx' '299xx' '087xx'
 '739xx' '949xx' '261xx' '073xx' '222xx' '244xx' '617xx' '018xx' '286xx'
 '759xx' '952xx' '930xx' '911xx' '220xx' '731xx' '730xx' '262xx' '338xx'
 '160xx' '031xx' '054xx' '223xx' '272xx' '882xx' '557xx' '797xx' '725xx'
 '130xx' '030xx' '206xx' '324xx' '170xx' '291xx' '161xx' '647xx' '916xx'
 '665xx' '209xx' '915xx' '110xx' '086xx' '484xx' '844xx' '020xx' '354xx'
 '448xx' '978xx' '757xx' '953xx' '577xx' '315xx' '664xx' '186xx' '182xx'
 '574xx' '800xx' '197xx' '137xx' '314xx' '755xx' '973xx' '603xx' '481xx'
 '780xx' '894xx' '341xx' '361xx' '178xx' '068xx' '565xx' '611xx' '288xx'
 '443xx' '662xx' '874xx' '560xx' '535xx' '499xx' '162xx' '756xx' '168xx'
 '827xx' '541xx' '615xx' '989xx' '037xx' '863xx' '339xx' '367xx' '273xx'
 '052xx' '623xx' '416xx' '648xx' '918xx' '436xx' '898xx' '674xx' '496xx'
 '294xx' '762xx' '128xx' '903xx' '932xx' '650xx' '246xx' '633xx' '666xx'
 '228xx' '015xx' '302xx' '573xx' '118xx' '998xx' '767xx' '490xx' '350xx'
 '591xx' '254xx' '566xx' '596xx' '637xx' '032xx' '763xx' '871xx' '494xx'
 '402xx' '545xx' '184xx' '458xx' '239xx' '977xx' '297xx' '284xx' '144xx'
 '748xx' '310xx' '147xx' '153xx' '544xx' '948xx' '576xx' '976xx' '107xx'
 '846xx' '344xx' '351xx' '754xx' '910xx' '656xx' '357xx' '791xx' '493xx'
 '855xx' '278xx' '125xx' '175xx' '530xx' '171xx' '703xx' '620xx' '438xx'
 '626xx' '307xx' '636xx' '319xx' '116xx' '645xx' '708xx' '816xx' '625xx'
 '133xx' '612xx' '238xx' '166xx' '231xx' '241xx' '826xx' '783xx' '793xx'
 '646xx' '188xx' '108xx' '653xx' '057xx' '796xx' '990xx' '219xx' '724xx'
 '456xx' '214xx' '237xx' '737xx' '121xx' '199xx' '548xx' '453xx' '704xx'
 '368xx' '828xx' '598xx' '136xx' '610xx' '433xx' '722xx' '743xx' '810xx'
 '706xx' '235xx' '139xx' '613xx' '454xx' '317xx' '746xx' '446xx' '486xx'
 '033xx' '279xx' '407xx' '803xx' '794xx' '457xx' '189xx' '196xx' '539xx'
 '424xx' '492xx' '482xx' '667xx' '845xx' '608xx' '401xx' '362xx' '627xx'
 '717xx' '356xx' '607xx' '963xx' '198xx' '936xx' '713xx' '227xx' '883xx'
 '563xx' '893xx' '079xx' '806xx' '360xx' '172xx' '422xx' '768xx' '034xx'
 '735xx' '870xx' '012xx' '594xx' '215xx' '628xx' '749xx' '101xx' '814xx'
 '255xx' '745xx' '495xx' '132xx' '183xx' '864xx' '106xx' '663xx' '943xx'
 '094xx' '177xx' '365xx' '897xx' '776xx' '843xx' '421xx' '253xx' '795xx'
 '727xx' '528xx' '270xx' '808xx' '277xx' '447xx' '358xx' '815xx' '250xx'
 '230xx' '790xx' '884xx' '242xx' '534xx' '404xx' '397xx' '434xx' '671xx'
 '655xx' '675xx' '053xx' '859xx' '126xx' '102xx' '256xx' '673xx' '489xx'
 '258xx' '423xx' '497xx' '788xx' '127xx' '176xx' '380xx' '058xx' '635xx'
 '498xx' '820xx' '599xx' '822xx' '638xx' '723xx' '449xx' '420xx' '157xx'
 '726xx' '185xx' '527xx' '298xx' '769xx' '257xx' '881xx' '575xx' '624xx'
 '134xx' '877xx' '781xx' '718xx' '670xx' '138xx' '026xx' '678xx' '398xx'
 '411xx' '149xx' '247xx' '875xx' '838xx' '651xx' '364xx' '203xx' '427xx'
 '629xx' '355xx' '174xx' '547xx' '567xx' '558xx' '135xx' '035xx' '999xx'
 '634xx' '455xx' '143xx' '154xx' '562xx' '779xx' '561xx' '734xx' '789xx'
 '812xx' '268xx' '051xx' '865xx' '406xx' '661xx' '758xx' '676xx' '491xx'
 '267xx' '609xx' '595xx' '259xx' '163xx' '264xx' '409xx' '376xx' '471xx'
 '375xx' '747xx' '123xx' '714xx' '590xx' '639xx' '412xx' '425xx' '022xx'
 '369xx' '164xx' '825xx' '266xx' '096xx' '487xx' '251xx' '593xx' '169xx'
 '413xx' '155xx' '764xx' '710xx' '408xx' '668xx' '056xx' '669xx' '167xx'
 '542xx' '679xx' '462xx' '792xx' '824xx' '249xx' '798xx' '370xx' '485xx'
 '654xx' '289xx' '807xx' '252xx' '556xx' '353xx' '677xx' '090xx' '371xx'
 '831xx' '736xx' '007xx' '332xx' '468xx' '461xx' '093xx' '248xx' '463xx'
 '391xx' '381xx' '415xx' '378xx' '414xx' '396xx' '836xx' '044xx' '392xx'
 '772xx' '374xx' '823xx' '395xx' '394xx' '965xx' '390xx' '388xx' '386xx'
 '040xx' '385xx' '379xx' '681xx' '837xx' '373xx' '753xx' '834xx' '383xx'
 '384xx' '372xx' '833xx' '522xx' '523xx' '474xx' '465xx' '689xx' '473xx'
 '041xx' '685xx' '479xx' '469xx' '738xx' '418xx' '204xx' '059xx' '878xx'
 '460xx' '426xx' '514xx' '500xx' '503xx' '832xx' '691xx' '470xx' '036xx'
 '467xx' '476xx' '478xx' '466xx' '377xx' '475xx' '477xx' '472xx' '994xx'
 '873xx' '464xx' '979xx' '569xx' '382xx' '680xx' '879xx' '049xx' '962xx'
 '502xx' '942xx' '621xx' '417xx' '091xx' '643xx' '821xx' '340xx' '513xx'
 '387xx' '393xx' '389xx' '429xx' '311xx' '682xx' '854xx' '582xx' '929xx'
 '938xx' '008xx' '861xx' '888xx' '098xx' '524xx' '889xx' '092xx' '510xx'
 '909xx' '516xx' '043xx' '587xx' '511xx' '901xx']
----------------------------------------------------------------------------------------------------
addr_state - cardinality = 50

['AZ' 'GA' 'IL' 'CA' 'OR' 'NC' 'TX' 'VA' 'MO' 'CT' 'UT' 'FL' 'NY' 'PA'
 'MN' 'NJ' 'KY' 'OH' 'SC' 'RI' 'LA' 'MA' 'WA' 'WI' 'AL' 'CO' 'KS' 'NV'
 'AK' 'MD' 'WV' 'VT' 'MI' 'DC' 'SD' 'NH' 'AR' 'NM' 'MT' 'HI' 'WY' 'OK'
 'DE' 'MS' 'TN' 'IA' 'NE' 'ID' 'IN' 'ME']
----------------------------------------------------------------------------------------------------
earliest_cr_line - cardinality = 664

['Jan-85' 'Apr-99' 'Nov-01' 'Feb-96' 'Jan-96' 'Nov-04' 'Jul-05' 'Jan-07'
 'Apr-04' 'Sep-04' 'Jan-98' 'Oct-89' 'Jul-03' 'May-91' 'Sep-07' 'Oct-98'
 'Aug-93' 'Oct-03' 'Jan-01' 'Nov-97' 'Feb-83' 'Jul-85' 'Apr-03' 'Jun-01'
 'Feb-02' 'Aug-84' 'Nov-06' 'Dec-87' 'Nov-81' 'Feb-97' 'Apr-05' 'Oct-07'
 'Dec-00' 'Apr-07' 'Dec-01' 'Jan-03' 'Mar-94' 'Sep-98' 'Jun-04' 'Nov-95'
 'Jul-99' 'Jun-95' 'Sep-92' 'Jan-02' 'Apr-92' 'Oct-06' 'May-00' 'Dec-98'
 'Dec-04' 'Oct-00' 'May-02' 'May-06' 'Jul-02' 'Jul-06' 'May-97' 'Oct-05'
 'Apr-95' 'Oct-02' 'Jan-00' 'Apr-00' 'Dec-94' 'Sep-05' 'Dec-84' 'Dec-99'
 'Nov-03' 'Jun-89' 'Jun-03' 'Oct-96' 'May-03' 'Jun-02' 'Jun-07' 'Dec-96'
 'Feb-84' 'Sep-02' 'Jan-86' 'May-98' 'Jan-97' 'Jun-05' 'Feb-90' 'Mar-04'
 'Jul-95' 'Aug-94' 'Jun-92' 'Mar-97' 'Apr-06' 'Apr-90' 'Aug-99' 'Sep-00'
 'Feb-01' 'Dec-88' 'Feb-99' 'Dec-91' 'Aug-00' 'Oct-04' 'Aug-04' 'Feb-05'
 'Nov-05' 'Nov-00' 'May-07' 'Jan-91' 'Jun-00' 'Aug-06' 'Dec-02' 'Jun-93'
 'Jun-06' 'Feb-04' 'Dec-90' 'Mar-00' 'Feb-95' 'Jul-01' 'Apr-02' 'Sep-06'
 'May-99' 'Aug-98' 'Dec-05' 'May-04' 'Oct-01' 'Jun-83' 'Mar-86' 'Apr-80'
 'Jul-04' 'Jul-08' 'May-96' 'Jan-04' 'Nov-02' 'Aug-02' 'Aug-01' 'Mar-91'
 'Sep-89' 'Sep-94' 'Sep-03' 'Sep-99' 'Aug-05' 'Dec-86' 'Nov-98' 'Feb-06'
 'May-94' 'Nov-07' 'Feb-93' 'Nov-91' 'May-05' 'Dec-73' 'May-01' 'Mar-90'
 'Mar-96' 'Oct-79' 'Jun-81' 'Mar-01' 'Apr-01' 'Jun-99' 'Nov-93' 'Jan-06'
 'Dec-97' 'Nov-94' 'Jul-97' 'Oct-91' 'Jun-94' 'Mar-06' 'Sep-96' 'Apr-91'
 'Jul-93' 'Jan-95' 'Sep-87' 'Mar-03' 'Oct-99' 'Jul-96' 'Dec-03' 'Aug-88'
 'Jan-92' 'Mar-98' 'Feb-07' 'Aug-82' 'Mar-95' 'Dec-92' 'Jul-98' 'Jul-89'
 'May-90' 'Jul-94' 'Sep-01' 'Mar-84' 'Aug-03' 'Nov-99' 'Mar-07' 'Mar-08'
 'Apr-94' 'Jan-05' 'Jul-86' 'Aug-90' 'May-92' 'Jul-00' 'Mar-88' 'May-83'
 'Apr-93' 'Jul-78' 'Feb-00' 'Dec-81' 'Mar-92' 'Jan-81' 'Sep-90' 'Jun-98'
 'May-93' 'Nov-96' 'Mar-02' 'Jan-88' 'Aug-97' 'Aug-87' 'Aug-08' 'Oct-94'
 'Oct-86' 'Feb-94' 'Jun-96' 'Feb-98' 'Nov-08' 'Apr-98' 'Jul-79' 'Jan-93'
 'May-87' 'Jul-71' 'Aug-07' 'Jun-97' 'Mar-80' 'Dec-06' 'Jul-07' 'Oct-95'
 'Jul-91' 'Jul-92' 'Dec-72' 'Dec-93' 'Jan-99' 'Feb-03' 'Apr-97' 'Dec-95'
 'Apr-96' 'Jul-90' 'Mar-70' 'Nov-84' 'Apr-84' 'Jul-84' 'Aug-95' 'Mar-99'
 'Sep-88' 'Mar-89' 'Mar-87' 'Oct-97' 'Dec-80' 'Jan-94' 'Sep-95' 'Mar-05'
 'Jan-89' 'Feb-92' 'Jan-90' 'Nov-90' 'Mar-69' 'Jun-75' 'Mar-85' 'Dec-07'
 'Oct-93' 'Dec-89' 'Sep-80' 'Jun-88' 'May-78' 'Apr-73' 'Aug-89' 'Oct-90'
 'Sep-91' 'Feb-82' 'Feb-87' 'Nov-85' 'Jan-84' 'Jul-88' 'May-08' 'Oct-85'
 'Mar-83' 'Aug-91' 'Sep-86' 'Jun-90' 'Feb-86' 'Sep-97' 'Jun-84' 'Sep-81'
 'Apr-86' 'Aug-79' 'Aug-80' 'Nov-92' 'Sep-93' 'Jun-87' 'Sep-82' 'Aug-92'
 'Aug-85' 'Jul-83' 'Jun-91' 'Dec-83' 'Jan-87' 'Nov-78' 'Oct-84' 'Aug-96'
 'Nov-89' 'Sep-76' 'Nov-86' 'Oct-87' 'Sep-08' 'May-77' 'May-86' 'Mar-81'
 'Jan-83' 'Nov-76' 'Sep-79' 'Oct-83' 'Sep-62' 'Jun-85' 'May-82' 'Feb-88'
 'Oct-92' 'Aug-83' 'Jun-73' 'Apr-85' 'Oct-88' 'Oct-81' 'Sep-68' 'Jul-74'
 'Nov-87' 'May-95' 'Feb-91' 'Nov-88' 'Mar-93' 'Jun-08' 'Jul-80' 'Dec-82'
 'Mar-75' 'Feb-80' 'Apr-88' 'Dec-79' 'Sep-85' 'Sep-71' 'Mar-78' 'Feb-08'
 'Aug-78' 'Nov-70' 'Jun-79' 'Jun-80' 'Apr-89' 'Sep-83' 'Feb-89' 'Nov-83'
 'Jun-86' 'Oct-82' 'Aug-86' 'Oct-80' 'May-88' 'Dec-85' 'Jan-82' 'Sep-77'
 'Dec-76' 'Apr-82' 'May-84' 'Apr-08' 'Feb-79' 'Jan-08' 'Sep-64' 'Jul-87'
 'Jan-78' 'May-89' 'Oct-77' 'Dec-75' 'Feb-85' 'Oct-08' 'Nov-82' 'May-75'
 'May-85' 'Feb-71' 'Jun-77' 'Apr-81' 'May-79' 'Jan-72' 'Sep-67' 'Apr-78'
 'Feb-65' 'Apr-83' 'Nov-75' 'Jun-67' 'Mar-74' 'Jul-72' 'Aug-67' 'Apr-71'
 'Sep-84' 'May-81' 'Dec-70' 'Oct-73' 'Jan-71' 'Dec-63' 'Apr-74' 'Jan-80'
 'Aug-69' 'Apr-75' 'Jul-77' 'Mar-77' 'Nov-69' 'Jan-76' 'Mar-82' 'Apr-87'
 'Dec-69' 'May-74' 'Aug-74' 'Jun-72' 'Mar-63' 'Nov-79' 'Aug-75' 'Sep-74'
 'Aug-81' 'May-73' 'Sep-73' 'Mar-73' 'Dec-77' 'Oct-76' 'Jan-74' 'Jan-70'
 'Aug-68' 'Feb-76' 'Jan-75' 'Oct-72' 'Dec-74' 'Feb-73' 'Nov-65' 'Mar-72'
 'Jun-82' 'Jun-74' 'May-65' 'Jun-71' 'Oct-70' 'Apr-76' 'Oct-71' 'Apr-77'
 'Sep-78' 'Oct-78' 'Oct-54' 'Feb-81' 'Jan-77' 'Aug-77' 'Dec-78' 'Aug-76'
 'Jun-68' 'Jun-78' 'Jun-69' 'May-80' 'Jan-79' 'Oct-65' 'Nov-74' 'Apr-66'
 'Jun-76' 'Feb-72' 'May-76' 'Mar-68' 'Mar-76' 'Jul-70' 'Mar-79' 'Jul-76'
 'Jul-82' 'Sep-65' 'Apr-67' 'Oct-63' 'Feb-70' 'Jul-73' 'Feb-78' 'Nov-71'
 'Aug-72' 'Jul-75' 'Sep-70' 'Jul-81' 'Oct-64' 'Sep-72' 'May-70' 'May-63'
 'Feb-69' 'Nov-80' 'Jul-67' 'Apr-70' 'Nov-77' 'Nov-66' 'May-71' 'Apr-79'
 'May-72' 'Feb-68' 'Jul-64' 'Nov-67' 'Apr-64' 'Feb-75' 'Jun-59' 'Sep-56'
 'Jun-66' 'Jan-46' 'Mar-66' 'Jan-63' 'Dec-50' 'Jul-69' 'Jan-68' 'Nov-73'
 'Jun-70' 'Feb-77' 'Feb-74' 'Jan-73' 'Feb-66' 'Dec-61' 'Aug-73' 'Aug-70'
 'Sep-69' 'Sep-75' 'Dec-68' 'Nov-54' 'Oct-69' 'Dec-65' 'Apr-72' 'Nov-72'
 'Sep-63' 'Apr-69' 'Nov-62' 'Oct-67' 'May-67' 'Nov-61' 'Feb-67' 'Nov-68'
 'Oct-75' 'Mar-71' 'Aug-71' 'Dec-66' 'Oct-68' 'Oct-74' 'Nov-63' 'Apr-68'
 'May-69' 'Nov-59' nan 'Oct-10' 'Dec-09' 'Nov-10' 'Jan-10' 'Dec-08'
 'Sep-09' 'Jul-10' 'Jan-09' 'May-09' 'May-10' 'Sep-10' 'Apr-09' 'Nov-09'
 'Apr-10' 'Mar-09' 'Feb-09' 'Aug-09' 'Oct-09' 'Jun-09' 'Jun-10' 'Jul-09'
 'Feb-10' 'Mar-10' 'Aug-10' 'Jan-61' 'Oct-62' 'Jun-64' 'Apr-62' 'Jan-60'
 'Sep-66' 'Mar-65' 'May-68' 'Jul-66' 'Dec-56' 'Dec-71' 'Apr-65' 'Jan-64'
 'Jul-65' 'Jan-65' 'Jan-62' 'Aug-64' 'Jan-69' 'Oct-66' 'Jun-62' 'Dec-67'
 'Oct-60' 'Jul-62' 'Dec-60' 'Jul-60' 'Jun-65' 'May-66' 'Oct-57' 'Aug-65'
 'May-60' 'Jan-67' 'Nov-53' 'Oct-59' 'Jun-63' 'Mar-67' 'Jul-63' 'Nov-60'
 'Mar-62' 'Mar-64' 'Jul-68' 'Feb-63' 'Jan-66' 'Dec-64' 'May-64' 'Oct-61'
 'Aug-60' 'Mar-60' 'Apr-55' 'Sep-59' 'Aug-66' 'Jul-55' 'Aug-61' 'Nov-64'
 'May-53' 'Nov-50' 'Nov-55' 'Mar-61' 'Feb-57' 'Aug-63' 'Feb-60' 'Sep-60'
 'Feb-64' 'Dec-51' 'Nov-58' 'Aug-62' 'Oct-58' 'May-62' 'Mar-11' 'Jun-11'
 'Dec-10' 'Oct-11' 'Sep-11' 'Jul-11' 'Apr-11' 'May-11' 'Jan-11' 'Feb-11'
 'Aug-11' 'Apr-63' 'Nov-11' 'Dec-58' 'Jan-58' 'Jul-59' 'Jan-55' 'May-59'
 'Aug-46' 'Apr-61' 'Jun-58' 'Jul-58' 'Jun-60' 'Jan-51' 'Dec-62' 'Mar-59'
 'Aug-58' 'Jan-59' 'Feb-61' 'Sep-57' 'Jun-49' 'Jun-61' 'Jan-56' 'Jan-54'
 'Jan-57' 'Jan-44' 'Oct-50' 'Jan-48' 'Jul-61' 'May-58' 'Jan-53' 'May-50'
 'Nov-56']
----------------------------------------------------------------------------------------------------
initial_list_status - cardinality = 2

['f' 'w']
----------------------------------------------------------------------------------------------------
last_pymnt_d - cardinality = 98

['Jan-15' 'Apr-13' 'Jun-14' 'Jan-16' 'Apr-12' 'Nov-12' 'Jun-13' 'Sep-13'
 'Jul-12' 'Oct-13' 'May-13' 'Feb-15' 'Aug-15' 'Oct-12' 'Sep-12' nan
 'Dec-12' 'Dec-14' 'Aug-13' 'Nov-13' 'Jan-14' 'Apr-14' 'Aug-14' 'Oct-14'
 'Aug-12' 'Jul-14' 'Jul-13' 'Apr-15' 'Feb-14' 'Sep-14' 'Jun-12' 'Feb-13'
 'Mar-13' 'May-14' 'Mar-15' 'Jan-13' 'Dec-13' 'Feb-12' 'Mar-14' 'Sep-15'
 'Nov-15' 'Dec-15' 'Jan-12' 'Oct-15' 'Nov-14' 'Mar-12' 'May-12' 'Jun-15'
 'May-15' 'Jul-15' 'Dec-11' 'Nov-11' 'Oct-11' 'Sep-11' 'Aug-11' 'Jul-11'
 'Jun-11' 'May-11' 'Apr-11' 'Mar-11' 'Feb-11' 'Jan-11' 'Dec-10' 'Nov-10'

In [5]:
# Assessing pymnt_plan and initial_list_status distributions in order to see whether there is imbalancement
df['pymnt_plan'].value_counts(normalize=True)

pymnt_plan
n    0.999981
y    0.000019
Name: proportion, dtype: float64

In [6]:
df['initial_list_status'].value_counts(normalize=True)

initial_list_status
f    0.649828
w    0.350172
Name: proportion, dtype: float64

#### 1.5 Data Cleaning and Feature Engineering
- I will apply an initial **data cleaning**, including the following tasks:
    - **Remove irrelevant variables:**
        - ids, url, desc, next_pymnt_d, application_type and pymnt_plan (almost constant, no variance), zip_code and title (high_cardinality) because they are not useful for neither the model or the analysis.
        - Variables with a missing rate higher than 70%.
        - As mentioned above, variables like loan_amnt will not be available at the moment of prediction (production env) and thus will be removed to prevent from data leakage. However, once they can present valuable insights about credit risk in Lending Club's operations, I will do this in the data preprocessing step, after exploring them.
    - **Convert variables to the correct data types:**
        - Convert term and emp_length from object to int data type.
        - Convert date realted features from object to datetime data type. Considering that I am using as reference data from 2007 to 2015, I will use 2015-01-01 as the current date for this feature extraction.
- From the features I have, I will try to **extract new features**, obtaining the maximum amount of information from the available variables.
    - credit_util_rate: Indicates the credit utilization rate, that is, how much of the available revolving credit the consumer is currently using. 
    - mths_since_earliest_cr_line: Self explanatory. It is interesting for us to obtain a numerical variable indicating the number of months since the earliest credit line and other date variables.

In [7]:
# Creating a copy to saveguard the original data.
clean_df = df.copy()

In [8]:
# Removing irrelevant variables.
to_drop_missing = missing_df.loc[missing_df['pct'] >= 70].index.tolist()
to_drop_irrelevant = ['id', 'member_id', 'url', 'Unnamed: 0', 'next_pymnt_d', 'application_type', 'pymnt_plan', 'zip_code', 'title']
to_drop = to_drop_missing + to_drop_irrelevant
clean_df = clean_df.drop(columns=to_drop)
clean_df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'policy_code', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim'], dtype='object')

In [11]:
# Converting variables to the correct data type.
clean_df['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [9]:
# Converting term variable to int format.
clean_df['term'] = clean_df['term'].apply(lambda x: int(x[1:3]))
clean_df['term'].unique(), clean_df.term.dtype

(array([36, 60]), dtype('int64'))

In [13]:
clean_df['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [10]:
# Converting emp_length to float format because of the missing values.
clean_df['emp_length'] = clean_df['emp_length'].str.replace(' years', '')
clean_df['emp_length'] = clean_df['emp_length'].str.replace('< 1 year', '0')
clean_df['emp_length'] = clean_df['emp_length'].str.replace(' year', '')
clean_df['emp_length'] = clean_df['emp_length'].str.replace('< ', '')
clean_df['emp_length'] = clean_df['emp_length'].str.replace('+', '')
clean_df['emp_length'] = clean_df['emp_length'].astype(float)
clean_df['emp_length'].unique()

array([10.,  0.,  1.,  3.,  8.,  9.,  4.,  5.,  6.,  2.,  7., nan])

In [15]:
clean_df['earliest_cr_line'].head()

0    Jan-85
1    Apr-99
2    Nov-01
3    Feb-96
4    Jan-96
Name: earliest_cr_line, dtype: object

In [11]:
# Converting earlist_cr_line to datetime format.
clean_df['earliest_cr_line'] = pd.to_datetime(clean_df['earliest_cr_line'], format='%b-%y')
clean_df['earliest_cr_line'].head()

0   1985-01-01
1   1999-04-01
2   2001-11-01
3   1996-02-01
4   1996-01-01
Name: earliest_cr_line, dtype: datetime64[ns]

In [17]:
clean_df['issue_d'].head()

0    Dec-11
1    Dec-11
2    Dec-11
3    Dec-11
4    Dec-11
Name: issue_d, dtype: object

In [12]:
# Converting issue_d to datetime format.
clean_df['issue_d'] = pd.to_datetime(clean_df['issue_d'], format='%b-%y')
clean_df['issue_d'].head()

0   2011-12-01
1   2011-12-01
2   2011-12-01
3   2011-12-01
4   2011-12-01
Name: issue_d, dtype: datetime64[ns]

In [16]:
#clean_df['last_pymnt_d'].head() 
clean_df['last_credit_pull_d'].head()

0    Jan-16
1    Sep-13
2    Jan-16
3    Jan-15
4    Jan-16
Name: last_credit_pull_d, dtype: object

In [13]:
# Extracting new features
CURR_DATE = pd.to_datetime('2015-01-01')

# Extracting a variable indicating the credit utilization rate. 
clean_df['credit_util_rate'] = (clean_df['revol_bal'] / clean_df['total_rev_hi_lim']) * 100

# Extracting mths_since_earliest_cr_line variable.
clean_df['mths_since_earliest_cr_line'] = round((CURR_DATE - clean_df['earliest_cr_line']) / np.timedelta64(1, 'M'))

# Extracting mths_since_issue_d variable.
clean_df['mths_since_issue_d'] = round((CURR_DATE - clean_df['issue_d']) / np.timedelta64(1, 'M'))

# Extracting mts_since_last_pymnt_d and mths_since_last_credit_pull_d variables.
clean_df['last_pymnt_d'] = pd.to_datetime(clean_df['last_pymnt_d'], format='%b-%y')
clean_df['last_credit_pull_d'] = pd.to_datetime(clean_df['last_credit_pull_d'], format='%b-%y')
clean_df['mths_since_last_pymnt_d'] = round((CURR_DATE - clean_df['last_pymnt_d']) / np.timedelta64(1, 'M'))
clean_df['mths_since_last_credit_pull_d'] = round((CURR_DATE - clean_df['last_credit_pull_d']) / np.timedelta64(1, 'M'))

In [14]:
# Dropping date variables after useful variables were extracted from them.
to_drop = ['earliest_cr_line', 'issue_d', 'last_pymnt_d', 'last_credit_pull_d']
clean_df = clean_df.drop(columns=to_drop)

#### 1.6 Descriptive Statistics
- I will assess some descriptive statistics of the variables in order to initially observe inconsistent information (when looking at minimum and maximum values), diagnose possible outliers and obtain initial simpler insights about the features distributions.

In [16]:
clean_df.describe().T

                                  count           mean            std      min           25%           50%           75%           max
loan_amnt                      466285.0   14317.277577    8286.509164   500.00   8000.000000  12000.000000   20000.00000  3.500000e+04
funded_amnt                    466285.0   14291.801044    8274.371300   500.00   8000.000000  12000.000000   20000.00000  3.500000e+04
funded_amnt_inv                466285.0   14222.329888    8297.637788     0.00   8000.000000  12000.000000   19950.00000  3.500000e+04
term                           466285.0      42.605334      10.719040    36.00     36.000000     36.000000      60.00000  6.000000e+01
int_rate                       466285.0      13.829236       4.357587     5.42     10.990000     13.660000      16.49000  2.606000e+01
installment                    466285.0     432.061201     243.485550    15.67    256.690000    379.890000     566.58000  1.409990e+03
emp_length                     445277.0       5.993330       3.627044     0.00      3.000000      6.000000      10.00000  1.000000e+01
annual_inc                     466281.0   73277.381470   54963.568654  1896.00  45000.000000  63000.000000   88960.00000  7.500000e+06
dti                            466285.0      17.218758       7.851121     0.00     11.360000     16.870000      22.78000  3.999000e+01
delinq_2yrs                    466256.0       0.284678       0.797365     0.00      0.000000      0.000000       0.00000  2.900000e+01
inq_last_6mths                 466256.0       0.804745       1.091598     0.00      0.000000      0.000000       1.00000  3.300000e+01
mths_since_last_delinq         215934.0      34.104430      21.778487     0.00     16.000000     31.000000      49.00000  1.880000e+02
open_acc                       466256.0      11.187069       4.987526     0.00      8.000000     10.000000      14.00000  8.400000e+01
pub_rec                        466256.0       0.160564       0.510863     0.00      0.000000      0.000000       0.00000  6.300000e+01
revol_bal                      466285.0   16230.203487   20676.245152     0.00   6413.000000  11764.000000   20333.00000  2.568995e+06
revol_util                     465945.0      56.176947      23.732628     0.00     39.200000     57.600000      74.70000  8.923000e+02
total_acc                      466256.0      25.064430      11.600141     1.00     17.000000     23.000000      32.00000  1.560000e+02
out_prncp                      466285.0    4410.062342    6355.078769     0.00      0.000000    441.470000    7341.65000  3.216038e+04
out_prncp_inv                  466285.0    4408.452258    6353.198001     0.00      0.000000    441.380000    7338.39000  3.216038e+04
total_pymnt                    466285.0   11540.686220    8265.627112     0.00   5552.125349   9419.250943   15308.15846  5.777758e+04
total_pymnt_inv                466285.0   11469.892747    8254.157579     0.00   5499.250000   9355.430000   15231.31000  5.777758e+04
total_rec_prncp                466285.0    8866.014657    7031.687997     0.00   3708.560000   6817.760000   12000.00000  3.500003e+04
total_rec_int                  466285.0    2588.677225    2483.809661     0.00    957.280000   1818.880000    3304.53000  2.420562e+04
total_rec_late_fee             466285.0       0.650129       5.265730     0.00      0.000000      0.000000       0.00000  3.586800e+02
recoveries                     466285.0      85.344211     552.216084     0.00      0.000000      0.000000       0.00000  3.352027e+04
collection_recovery_fee        466285.0       8.961534      85.491437     0.00      0.000000      0.000000       0.00000  7.002190e+03
last_pymnt_amnt                466285.0    3123.913796    5554.737393     0.00    312.620000    545.960000    3187.51000  3.623444e+04
collections_12_mths_ex_med     466140.0       0.009085       0.108648     0.00      0.000000      0.000000       0.00000  2.000000e+01
policy_code                    466285.0       1.000000       0.000000     1.00      1.000000      1.000000       1.00000  1.000000e+00
acc_now_delinq                 466256.0       0.004002       0.068637     0.00      0.000000      0.000000       0.00000  5.000000e+00
tot_coll_amt                   396009.0     191.913517   14630.214605     0.00      0.000000      0.000000       0.00000  9.152545e+06
tot_cur_bal                    396009.0  138801.713385  152114.663494     0.00  28618.000000  81539.000000  208953.00000  8.000078e+06
total_rev_hi_lim               396009.0   30379.087771   37247.129571     0.00  13500.000000  22800.000000   37900.00000  9.999999e+06
credit_util_rate               395854.0      57.105256      22.962155     0.00     40.669337     58.243286      74.95823  8.923333e+02
mths_since_earliest_cr_line    466256.0     200.798776      92.268944  -635.00    145.000000    187.000000     246.00000  5.420000e+02
mths_since_issue_d             466285.0      16.087039      14.030086     1.00      6.000000     12.000000      22.00000  8.900000e+01
mths_since_last_pymnt_d        465909.0      -3.743220      12.680302   -12.00    -12.000000    -11.000000       0.00000  8.300000e+01
mths_since_last_credit_pull_d  466243.0      -7.971714       9.548577   -12.00    -12.000000    -12.000000     -10.00000  9.000000e+01

- The average loan amount is around 14,300 dollars. However, this value may vary a lot, with a standard deviation of 8,286 dollars. The minimum is 500 dollars while the maximum is 35,000 dollars. Moreover, analyzing the IQR, 50% of the loan amounts are between 8,000 and 20,000 dollars. For funded amount and funded amount by investors we have quite similar values.
- The average interest rate is around 14%. The minimum is 5 while the maximum is 26. Analyzing the IQR, 50% of the interest rates are between 11% and 16.5%.
- . . .

- At a glance, there are some **variables** that can drive **valuable insights** about **credit risk** in Lending Club's operations:
    - Most of the demographical variables: addr_state, annual_inc, emp_length, home_ownership.
    - From the financial variables: dti, funded_amnt, installment, int_rate, loan_amnt, revol_bal, total_acc.
    - From the credit and risk variables: delinq_2yrs, fico scores variables, inq_last_6_months and 12m, and term.
    - From time-related and other variables: issue_d, purpose, tot_cur_bal, total_rev_hi_lim.